[user]
	email = 6405097+matthugs@users.noreply.github.com
	name = Matt Hughes
[init]
	defaultBranch = main
[includeIf "gitdir:~/code/kohls/"]
        path = ~/code/kohls/.gitconfig
[includeIf "gitdir:~/code/non-kohls/codeberg/"]
        path = ~/code/non-kohls/codeberg/.gitconfig
