Rxvt.depth: 32
#Rxvt.background: rgba:1111/1111/1111/cccc
#Rxvt.foreground: rgba:ffff/ffff/ffff/ffff
Rxvt.reverseVideo: True

URxvt*font: -xos4-terminus-medium-*-*-*-18-*-*-*-*-*-iso8859-15,xft:terminus:pixelsize:12

URxvt.perl-ext-common: ...,font-size
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal
